<div class="container" style="margin-top: 30px">
  <table class="table table-hover table-borderless">
    <thead class="thead-light">
      <tr>
        <th>Code barre</th>
        <th>Nom</th>
        <th>Prix</th>
        <th>Min stock</th>
        <th>Modifier</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.codeBarre}}</td>
        <td>{{product.name}}</td>
        <td><span class="badge badge-primary">{{product.prix + "&euro;"}}</span></td>
        <td><span class="badge badge-primary">{{product.prix + "&euro;"}}</span></td>
      </tr>
    </tbody>
  </table>

</div>
