<div class="container">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10" style="margin-top: 60px">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active btn" (click)="showProduct($event)">Gestionnaire des produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" (click)="showInventory($event)">Gestionnaires des inventaires</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" (click)="showBilling($event)">Revenue</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" (click)="showStock($event)">Gestionnaire des stocks</a>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
