<div class="container" style="margin-top: 30px">
  <table class="table table-hover table-borderless">
    <thead class="thead-light">
      <tr>
        <th>Code barre</th>
        <th>Nom</th>
        <th>Prix</th>
        <th>Min stock</th>
        <th>Modifier</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.codeBarre}}</td>
        <td>{{product.name}}</td>
        <td><span class="badge badge-primary">{{product.prix + "&euro;"}}</span></td>
        <td><span class="badge badge-primary">{{product.prix + "&euro;"}}</span></td>
        <td><button type="button" (click)="modifierProduit($event)" id="{{product['_links'].self.href}}" class="btn btn-warning" data-toggle="modal" data-target="#myModal2">Modifier</button></td>
        <td><a class="btn btn-danger">Supprimer</a></td>
      </tr>
    </tbody>
  </table>

</div>


      <div class="modal fade" id="myModal2">
        <div class="modal-dialog">
          <div class="modal-content">

        <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modifier un produit</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form method="post" id="ajoutForm">
            <div class="form-group">
              <label for="codeBarre">Code Barre:</label>
              <input type="text" [(ngModel)]="product.codeBarre" name="product.codeBarre" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="nom">Nom du produit:</label>
              <input type="text" [(ngModel)]="product.name" name="product.name" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="type">Prix du produit:</label>
              <input type="number" [(ngModel)]="product.prix" name="product.prix" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="stockMin">Stock min:</label>
              <input type="number" [(ngModel)]="product.minStock" name="product.minStock" class="form-control" required>
            </div>
          </form>
        </div>

        <!-- Modal footer -->
            <div class="modal-footer">
              <input type="submit" class="btn btn-warning" value="Modifier" form="modifierForm">
            </div>

          </div>
        </div>
      </div>
