<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-hover table-borderless">
        <thead class="thead-light">
          <tr>
            <th>Date</th>
            <th>Surface</th>
            <th>Etat</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of inventaires" style="cursor: pointer" (click)="showProducts($event, i)">
            <td>{{i.date}}</td>
            <td>{{i.surface}}</td>
            <td><span class="badge badge-primary">{{(i.etat) ? "ouvert" : "fermé"}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
