
<div class="container">
  <div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8" style="margin-top: 50px">
      <h3>Register with us</h3>
      <br>
      <form method="post">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">First-Name:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="form-group">
        <label for="pwd">Last-Name:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="form-group">
        <label for="pwd">Comfirm Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-success" value="Send">
      </div>
    </form>
    </div>
    <div class="col-sm-2">

    </div>
  </div>
</div>
