<div class="container">
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4" style="margin-top: 80px;">
      <form method="post">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox"> Remember me
        </label>
      </div>
      <input type="submit" class="btn btn-success" value="Send">
    </form>
    </div>
    <div class="col-sm-4">

    </div>
  </div>
</div>
