<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group">
        <li *ngFor="let type of productTypes" class="btn list-group-item d-flex justify-content-between align-items-center" (click)="chooseType($event)" data-type="{{type.url}}">{{type.name}}
          <span class="badge badge-primary badge-pill">12</span>
        </li>
      </ul>
    </div>
  </div>
</div>
