<div class="container" style="margin-top: 60px">
  <div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Ajouter un produit</button>
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">

        <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Ajout un inventaire</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

        <!-- Modal body -->
            <div class="modal-body">
              <form method="post" id="ajoutForm">
                <div class="form-group">
                  <label for="codeBarre">Code Barre:</label>
                  <input type="text" [(ngModel)]="product.codeBarre" name="product.codeBarre" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="nom">Nom du produit:</label>
                  <input type="text" [(ngModel)]="product.name" name="product.name" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="type">Prix du produit:</label>
                  <input type="number" [(ngModel)]="product.prix" name="product.prix" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="stockMin">Stock min:</label>
                  <input type="number" [(ngModel)]="product.minStock" name="product.minStock" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="type">Type du produit:</label>
                  <select class="form-control" name="type" id="type" (change)="getCarac($event)">
                    <option *ngFor="let type of productTypes" id="{{type.id}}" value="{{type.type}}">{{type.type}}</option>
                  </select>
                </div>
                <div class="form-group" *ngFor="let c of carac">
                  <label >{{c.carac}}</label>
                  <input type="number" class="form-control" id="{{c.id}}" (input)="handleCarac($event)" required>
                </div>
              </form>
            </div>

        <!-- Modal footer -->
            <div class="modal-footer">
              <input type="submit" (click)="ajouterProduit()" class="btn btn-success" data-dismiss="modal" value="Ajouter" form="ajoutForm">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <app-listproduct (onChooseType)="detail.listProductsOfType($event)"></app-listproduct>
    </div>
    <div class="col-sm-9">
      <app-detail #detail></app-detail>
    </div>
  </div>
</div>
