<div class="container" style="margin-top: 60px">
  <div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Ajouter un inventaire</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <app-listinventaire  (onChooseInventaire)="detailinv.showProducts($event)"></app-listinventaire>
    </div>
    <div class="col-sm-9">
      <app-detailinv #detailinv></app-detailinv>
    </div>
  </div>
</div>
